<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>585178568400-2c164ig7n3m10j8m9h104tail0pn7v68.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.585178568400-2c164ig7n3m10j8m9h104tail0pn7v68</string>
	<key>API_KEY</key>
	<string>AIzaSyCrU0usT77DcPSslguRrsNuJIimQq-Rpm0</string>
	<key>GCM_SENDER_ID</key>
	<string>585178568400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.suhshin.DuelDice</string>
	<key>PROJECT_ID</key>
	<string>dueldice-4ade7</string>
	<key>STORAGE_BUCKET</key>
	<string>dueldice-4ade7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:585178568400:ios:76ffbbc067cea9e2c230d5</string>
</dict>
</plist>